<p-table [value]="users" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
    <ng-template pTemplate="header">
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email Address</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{ user.id }}</td>
            <td>
                <a routerLink="{{ user.id }}">
                  {{ user.firstName }} {{ user.lastName }}</a
                >
              </td>
            <td>{{ user.emailAdress }}</td>
        </tr>
    </ng-template>
</p-table>